<!DOCTYPE html>
<html>
  <head>
    <title>Razors Check-in</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div class='nav-wrapper container valign-wrapper'>
        <%= image_tag 'razors-logo.png', class: 'logo' %>
        <a class='brand-logo right'>Razors Check-in</a>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
